.HeaderFixedTop {
    top: 0;
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 60px;
    margin-bottom: 28px;
    border: 1px solid transparent;
    background-color: #f0f0f2;
    font-size: 16px;
    display: block;
    line-height: 1.55;
    color: #47474d;
}

.GiftImg {
    max-height: 40px;
    position: relative;
    display: block;
    padding: 0;
}

.UserMenu {
    max-height: 40px;
    position: relative;
    margin-top: 10px;
    display: block;
    color: #fff;
    background: #c74f78;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 15px;
}