.Content {
    position: relative;
    max-width: 720px;
    margin: 0 auto;
    padding-top: 10px;
    display: block;
    text-align: left;
}

.ContentDesktop {
    left: 150px;
}

.ContentOutOfFocus {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}