.LogoMain {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.ImgResponsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.Lead {
    font-size: 27px;
    margin-bottom: 28px;
    margin-top: 0;
    font-weight: 300;
    line-height: 1.4;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    color: #47474d;
    text-align: center;
}

.TextBerry {
    color: #c74f78;
}

.LinerContainer {
    overflow: hidden;
    text-align: center;
}

.Liner {
    display: inline-block;
    padding: 20px 20px;
    position: relative;
}

.Liner:before {
    background: #c74f78;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
    right: 100%;
}

.Liner:after {
    left: 100%;
    background: #c74f78;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}