.ContainerFluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.LoginRow {
    position: relative;
}

.LogoMain {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.ImgResponsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.Lead {
    font-size: 27px;
    margin-bottom: 28px;
    margin-top: 0;
    font-weight: 300;
    line-height: 1.4;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    color: #47474d;
    text-align: center;
}

.TextBerry {
    color: #c74f78;
}

.LinerContainer {
    overflow: hidden;
    text-align: center;
}

.Liner {
    display: inline-block;
    padding: 20px 20px;
    position: relative;
}

.Liner:before {
    background: #c74f78;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
    right: 100%;
}

.Liner:after {
    left: 100%;
    background: #c74f78;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.TextRight {
    text-align: right;
}

.TextMuted {
    color: #898993;
}

.btnFacebook {
    background-color: #3b5998;
    color: #fff;
    background-image: linear-gradient(to bottom, #4264aa 0%, #344e86 100%);
    background-repeat: repeat-x;
    border-color: #2d4373;
    border-bottom-color: #1e2e4f;
    text-shadow: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.btnFacebook::selection {
    background: #47474d;
    color: #fff;
    text-shadow: none;
}

.btnGoogle {
    background-color: #dd4b39;
    color: #fff;
    background-image: linear-gradient(to bottom, #e15f4f 0%, #d73925 100%);
    background-repeat: repeat-x;
    border-color: #c23321;
    border-bottom-color: #96271a;
    text-shadow: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.btnGoogle::selection {
    background: #47474d;
    color: #fff;
    text-shadow: none;
}

.btnSocial {
    position: relative;
    padding-left: 52px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btnBlock {
    display: block;
    width: 100%;
}

.btn {
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
    user-select: none;
    font-size: 19px;
    line-height: 1.6;
}

.btnPrimary {
    color: #fff;
    background-image: linear-gradient(to bottom, #cd6287 0%, #c03d6a 100%);
    background-repeat: repeat-x;
    border-color: #ac375f;
    border-bottom-color: #862a4a;
    text-shadow: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}